body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
   background-color: blueviolet;
    border-radius: 10px;
 
  }
  input, button {
    padding: 10px;
    margin: 5px;
  }
  button {
    background-color: #385828;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  button:hover {
    background-color: #218838;
  }
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 5px;
    border-radius: 5px;
  }
  .delete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }